#!/bin/bash
SCRIPT_DIR="$(cd "$(dirname "${BASH_SOURCE[0]}")" && pwd)"

install_on_arch() {
    sudo pacman -Syu
    sudo pacman -S ansible
}

OS="$(uname -s)"
case "${OS}" in
    Linux*)
        if [ -f /etc/arch-release ]; then
            install_on_arch
        else
            echo "Unsupported Linux distribution"
            exit 1
        fi
        ;;
    *)
        echo "Unsupported operating system: ${OS}"
        exit 1
        ;;
esac

echo "--> Install ansible collections"
ansible-galaxy install -r "{{ .chezmoi.sourceDir }}/ansible/requirements.yml"

echo "Ansible installation complete."

