#!/bin/bash

# Force run if any Ansible config or package list changes:
{{- range (glob (joinPath .chezmoi.sourceDir "ansible" "**" "*.{yml,yaml,ini,txt,sh}")) }}
# {{ . }} hash: {{ include . | sha256sum }}
{{- end }}

if command -v ansible-playbook &> /dev/null; then
    ansible-playbook -i {{ .chezmoi.sourceDir }}/ansible/inventory.ini {{ .chezmoi.sourceDir }}/ansible/playbook.yml -K
fi
